---
Checks: >
  bugprone-*,
  modernize-*,
  readiblity-*,
  -modernize-macro-to-enum,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-valist.Uninitialized,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
HeaderFilterRegex: '.*'
