---
Checks: >
  bugprone-*,
  modernize-*,
  readiblity-*,
  -bugprone-reserved-identifier,
  -clang-analyzer-valist.Uninitialized,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
HeaderFilterRegex: '.*'
