[submodule "assets/fonts-urw-base35"]
	path = assets/fonts-urw-base35
	url = https://github.com/ArtifexSoftware/urw-base35-fonts.git
[submodule "assets/cmap-resources"]
	path = assets/cmap-resources
	url = https://github.com/adobe-type-tools/cmap-resources.git
[submodule "assets/agl-aglfn"]
	path = assets/agl-aglfn
	url = https://github.com/adobe-type-tools/agl-aglfn
